@model EcommerceGrid.Models.ProductName
@{
    ViewData["Title"] = "Create";
}

<br>

<h2 class="text-info">Update Product Type</h2>
<form asp-action="Update" method="post">
    <div class="p-4 rounded border">
        <input type="hidden" asp-for="Id">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form group row">
            <div class="col-2">
                <label asp-for="ProductType"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductType" class="form-control">
            </div>
            <spam asp-validation-for="ProductType" class="text-danger"></spam>
        </div>
        <br>
        <div class="form group row">
            <div class="col-2">
                <label asp-for="ProductNumber"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductNumber" class="form-control">
            </div>
            <spam asp-validation-for="ProductNumber" class="text-danger"></spam>
        </div>
        <br>
        <div class="form group row">
            <div class="col-2">
                <label asp-for="ProductSubcategory"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductSubcategory" class="form-control">
            </div>
            <spam asp-validation-for="ProductSubcategory" class="text-danger"></spam>
        </div>
        <br>
        <div class="form group row">
            <div class="col-2">
                <label asp-for="StandardCost"></label>
            </div>
            <div class="col-5">
                <input asp-for="StandardCost" class="form-control">
            </div>
            <spam asp-validation-for="StandardCost" class="text-danger"></spam>
        </div>
        <br>
        <div class="form group row">
            <div class="col-2">
                <label asp-for="ListPrice"></label>
            </div>
            <div class="col-5">
                <input asp-for="ListPrice" class="form-control">
            </div>
            <spam asp-validation-for="ListPrice" class="text-danger"></spam>
        </div>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update">
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>



